node_modules
lerna-debug.log
npm-debug.log
yarn-error.log
.idea
.DS_Store
*.log
.*.env
.env
\#*\#
*~
*.swp
*.temp.json
**/dist/
*.tsbuildinfo

# pyenv
.python-version

# Generated automatically
**/.npmrc